@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1665px;
  width: 90%;
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header{
    position: absolute;
    top: 20px;
    right: 40px;
    width: 50%;
}
nav{
  float: right;
}
.menu-item a{
  padding: 10px 15px;
  margin: 5px 3px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #E7E9E8;
  text-transform: uppercase;
  transition: .6s;
}
.menu-item a.active, .menu-item a:hover{
  border: 2px solid #000000;
}
.toggle{
    display: none;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* Banner section start here */
.banner{
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}
.banner figure{
  width: 100%;
  height: 100%;
}
.banner figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-content{
  width: 550px;
  position: absolute;
  top: 40%;
  right: 80px;
  z-index: 1000;
  box-sizing: border-box;
}
.banner-content p{
  font-size: 2.9rem;
  letter-spacing: 1px;
  text-align: center;
}
.btn{
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #E7E9E8;
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;  
  cursor: pointer;
}
/* banner section ends here */

/* Turnip green section start here */
article{
  background-color: #F3C30F;
}
.turnip-green{
  display: flex;
}
.turnip-green .content{
  margin: 0 28px;
  padding: 130px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.turnip-green .content figure{
  width: 118px;
  height: 91px;
}
.turnip-green .content h3{
  font-size: 1.7rem;
  margin: 20px 0;
}
.turnip-green .content p{
  font-size: 20px;
}
/* Turnip green section ends here */

/* Months Special section start here */
.month-special{
  padding: 75px 0;
}
.month-special h2{
  font-size: 3.4rem;
  font-weight: bold;
  text-align: center;
}
.menu-group{
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
}
.menu-group li{
  width: 275px;
  height: 183px;
  position: relative;
}
.menu-group li figure{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}
.menu-group .content{
  position: absolute;
  top: 0;
  left: 0;
  transition: .6s;
  display: none;
}
.menu-group li:hover .content{
  display: block;
}
.menu-group .content h4{
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0;
}
.menu-group .content p{
  font-size: 1.2rem;
  text-align: center ;
}
.menu-group .content h3{
  text-align: center;
  margin: 20px 0;
}
/* Months Special section start here */

/* About section start here */
.about-section{
    width: 100%;
    position: relative;
}
.about-section figure{
    width: 100%;
    height: 700px;
}
.about-section figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.about-content{
    width: 50%;
    position: absolute;
    top: 20px;
    z-index: 2;
    margin: 35px 0;
    text-align: center;
}  
.about-content h2{
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
}
.about-content p{
    font-size: 2.2rem;
    padding: 100px 20px;
}
/* About section ends here */

/* List menu section start here */
.menu-section{
    width: 100%;
    padding: 80px 0;
}
.menu-section h2{
    font-size: 3.4rem;
    font-weight: bold;
    text-align: center;
}
.main-menu{
    text-align: center;
    margin: 60px 0;
}
.main-menu li{
    font-size: 1.4rem;
    margin: 0 18px;
}
.menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list .left-list, .menu-list .right-list {
    width: 90%;
    margin: 0 30px;
}
.left-list li ,.right-list li{
    padding: 27px 0;
}
.left-list li h3, .right-list li h3{
    font-size: 1.6rem;
    text-transform: uppercase;
}
.left-list li p, .right-list li p{
    font-size: 1.3rem;
    font-style: italic;
}
/* List menu section ends here */

/* Contact section start here */
.contact-section{
    width: 100%;
    height: 810px;
    position: relative;
    text-align: end;
    z-index: -1;
}
.contact-section figure{
    width: 100%;
    height: 100%;
}
.contact-section figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

.contact-content{
    position: absolute;
    top: 0;
    right: 68px;
    padding: 68px 0;
    text-align: center;
}
.contact-content > h2{
    font-size: 3.4rem;
    font-weight: bold;
}
.contact-content ul{
    display: flex;
    padding: 40px 0;
}
.contact-content ul li{
    margin: 0 50px;
    text-align: left;
}

.contact-content ul li h2{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
}
.contact-content ul li p{
    font-size: 1.2rem;
}
.form{
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}
.form h4{
    font-size: 1.6rem;
    font-weight: bold;
    margin: 20px 0;
    text-transform: uppercase;
    text-align: left;
}
form
{
    text-align: left;
    width: 100%;
}
form input[type="text"], form input[type="email"]{
    padding: 5px;
    width: 45%;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #E7E9E8;
    background-color: transparent;
}
form input[type="text"]{
    margin-right: 20px;
}
form textarea{
    padding: 5px;
    width: 100%;
    margin-top: 15px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-bottom: 1px solid #E7E9E8;
    background-color: transparent;
}
.btn-control{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form input[type="submit"]{
    font-size: 1.4rem;
    padding: 15px 30px;
    margin: 35px 0;
}
/* Contact section ends here */
/*==========================￼
/*=================================
  footer styling starts here
=================================*/ 
footer{
    position: relative;
    width: 100%;
    padding: 40px 0;
    background-color: #ADA8AD;
}
footer::before{
    content: '';
    width: 90%;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: #E7E9E8;
}
footer h3{
    font-size: 1.4rem;
}
footer h3 .fa{
    color: #ff0000;
}
footer h3 span{
    color: #008000;
}
footer .social-links{
    float: right;
}
footer .social-links a{
    padding: 5px 10px;
    font-size: 1.8rem;
    font-weight: bold;
    border: 1px solid #000000;    
}
footer .social-links .fa{
    font-size: 1.6rem;
    font-weight: bold;
}






 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

.menu{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    flex-direction: column;
    background-color: #F3C30F;
}
.menu-item{
    width: 100%;
    text-align: center;
}
.toggle{
    position: absolute;
    display: block;
    top: 40px;
    left: -400px;
    width: 60px;
    height: 60px;
    background-color: teal;
}
.turnip-green{
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
.turnip-green .content{
    margin: 0 28px;
    width: 600px;
    padding: 130px 0;
    margin: 30px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
.menu-list{
    flex-direction: column;
    }
.menu-group li {
    width: 293px;
    height: 183px;
    position: relative;
    }
}  